<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/utilisateur">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]=search></ion-searchbar>

  <ion-list *ngFor="let item of donnee|filter:search">
    <ion-item >
      <ion-label>{{item.userName}}</ion-label>
      <ion-label>{{item.phone}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>